@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Titillium+Web:wght@200");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300");


:root { 
    --light-gray: hsl(52, 3%, 54%);
    --dark-green: hsl(157, 29%, 38%);
    --light-background: hsl(26, 38%, 91%);
}

body {
    
    background: var(--light-background);
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.component {
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1rem;
    border-radius: 10px;
    background: white;
    position: relative;
}

 .image {
    width: 100%;
    background: url("../images/image-product-mobile.jpg") ;
    background-position: center;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    height: 200px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.t-upper {
    text-transform: uppercase;
}
.t-font {
    color: var(--light-gray);
    font-family: "Titillium Web";
    letter-spacing: 3px;
    font-size: medium;
}
.prices{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    font-size: 30px;

}
.price {
    
    color: var(--dark-green);
}
.content {
    margin-left: 20px;
}
.prev-price {
    font-size: small;
    text-decoration: line-through;
    margin-top: 10px;
    margin-left: 10px;
}
.content h1 {
    font-weight: 900;
    font-family: "Merriweather";
    width:90%
}
.content p {
    color: var(--light-gray);
    font-size: 20px;
}
.cart-button {
    
    display:flex;
    background-color: var(--dark-green);
    width:50%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    justify-content: center;
    margin-left:70px
}

.add-cart {
    
    text-align: center;
    color:white;
    font-weight: 600;
    
}
.cart-button img {
    margin-right: 10px;
}
.change-default {
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .component {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 57vh;
        max-width: 700px;
    }
     .image  {
        background: url("../images/image-product-desktop.jpg");
        background-position: center;
        background-size: cover;
        height:100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }
  
}